.media-scroller2{
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: auto;
    white-space: nowrap;
    display: flex;
    margin: 15px 50px 0 50px;
}

.media-element2 img{
    width: 170px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-right: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 8px;
}

.media-text2 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
}

.wrap2 .preview-description2 h2{
    display: flex;
    font-family: "Manrope", Helvetica;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.wrap-bookScroll{
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    display: flex;
    overflow-x: auto;
    flex-basis: 100%;
    height: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.wrap2 .preview-description2 {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    margin: 55px 50px 0 50px;
}

.wrap-bookScroll .box-bookScroll {
    scroll-snap-align: center;
}
.box-bookScroll .boxKeun{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    }

.media-scroller2::-webkit-scrollbar-track{
    background: transparent;
    -webkit-overflow-scrolling: touch;
}


.media-scroller2::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}

.media-scroller2::-webkit-scrollbar-thumb{
    background: #141414; 
    border-radius: 10px;
}

