.media-scroller2{
    display: flex;
    margin: 15px 50px 0 50px;
}

.media-element2 {
    display: flex;
    justify-content: space-evenly;
    margin: 15px 18px ;  
}

.media-element2 img{
    width: 170px;
    height: 250px;
    display: block;
    cursor: pointer;
    
}

.media-text2 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
}

.wrap2 .preview-description2 h2{
    display: flex;
    font-family: "Manrope", Helvetica;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}


.wrap2 .preview-description2 {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    margin: 55px 50px 0 50px;
}



.media-scroller2::-webkit-scrollbar-track{
    background: transparent;
    -webkit-overflow-scrolling: touch;
}


.media-scroller2::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}

.media-scroller2::-webkit-scrollbar-thumb{
    background: #141414; 
    border-radius: 10px;
}


@media only screen and (max-width:1495px) {
    .media-scroller2{
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: auto;
        white-space: nowrap;
    }
  }